{% extends 'main.html' %}

<!-- "multipart/form-data" enables form to send file data (imgs). -->
<form action="" method="POST" enctype="multipart/form-data">
    <!-- cross-site request forgery token protects from csrf attacks.  -->
    {% csrf_token %}
    <!-- as_p wraps paragraph tags around each field -->
    <!-- .label displays title of attribute -->
    {{projectForm.as_p}}
    <input type="submit">
</form>

{% block content %}

<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="#"><i class="fa fa-arrow-left"></i></a>
            <br>

            <!-- "multipart/form-data" enables form to send file data (imgs). -->
            <form class="form" method="POST" enctype="multipart/form-data">
                <!-- cross-site request forgery token protects from csrf attacks.  -->
                {% csrf_token %}

                {% for field in projectForm%}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>

{% endblock %}
